version: '3.4'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: leilao_sql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=${SA_PASSWORD}
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  redis:
    image: redis:alpine
    container_name: leilao_redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  rabbitmq:
      image: masstransit/rabbitmq:latest
      ports:
        - "5672:5672"   
        - "15672:15672" 
      environment:
        - RABBITMQ_DEFAULT_USER=guest
        - RABBITMQ_DEFAULT_PASS=guest
volumes:
  sql_data:
  redis_data: